terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/terraform.tfvars.json

frontend/node_modules/
ec2-setup/node_modules/
ec2-setup/.env
